# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

# Created with antsibull-docs @{ antsibull_docs_version }@

# This file only contains a selection of the most common options. For a full list see the
# documentation:
# http://www.sphinx-doc.org/en/master/config

project = @{ project | python_repr }@
copyright = @{ conf_copyright | python_repr }@

title = @{ title | python_repr }@
html_short_title = @{ html_short_title | python_repr }@

extensions = ['sphinx.ext.autodoc', 'sphinx.ext.intersphinx', 'sphinx_antsibull_ext']

pygments_style = 'ansible'

highlight_language = 'YAML+Jinja'

html_theme = @{ sphinx_theme | python_repr }@
html_show_sphinx = False

display_version = False

html_use_smartypants = True
html_use_modindex = False
html_use_index = False
html_copy_source = False

# See https://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html#confval-intersphinx_mapping for the syntax
intersphinx_mapping = {
    'python': ('https://docs.python.org/2/', (None, '../python2.inv')),
    'python3': ('https://docs.python.org/3/', (None, '../python3.inv')),
    'jinja2': ('http://jinja.palletsprojects.com/', (None, '../jinja2.inv')),
    'ansible_devel': ('https://docs.ansible.com/ansible/devel/', (None, '../ansible_devel.inv')),
{% if intersphinx %}
    # The following @{ 'entry was' if intersphinx | length == 1 else 'entries were' }@ passed to `antsibull-docs sphinx-init`:
{%   for inventory, url in intersphinx %}
    @{ inventory | python_repr }@: (@{ url | python_repr }@, None),
{%   endfor %}
{% endif %}
    # If you want references to resolve to a released Ansible version (say, `5`), uncomment and replace X by this version:
    # 'ansibleX': ('https://docs.ansible.com/ansible/X/', (None, '../ansibleX.inv')),
}

default_role = 'any'

{% if not lenient %}
nitpicky = True
{% endif %}
{% if extra_conf %}

{%   for key, value in extra_conf %}
@{ key }@ = @{ value | python_repr }@
{%   endfor %}
{% endif %}
{% if extra_html_context %}

html_context = {
{%   for key, value in extra_html_context %}
    @{ key | python_repr }@: @{ value | python_repr }@,
{%   endfor %}
}
{% endif %}
{% if extra_html_theme_options %}

html_theme_options = {
{%   for key, value in extra_html_theme_options %}
    @{ key | python_repr }@: @{ value | python_repr }@,
{%   endfor %}
}
{% endif %}
