{#
  Copyright (c) Ansible Project
  GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
  SPDX-License-Identifier: GPL-3.0-or-later
#}

:orphan:

.. meta::
  :antsibull-docs: @{ antsibull_docs_version }@

.. _list_of_@{ plugin_type }@_plugins:

{% if plugin_type == 'module' %}
Index of all Modules
====================
{% elif plugin_type == 'role' %}
Index of all Roles
==================
{% else %}
Index of all @{ plugin_type | capitalize }@ Plugins
=============@{ '=' * (plugin_type | column_width) }@========
{% endif %}
{% if plugin_type == 'callback' %}

.. toctree::
   :maxdepth: 1
   :caption: List of callback plugins by callback type
   :glob:

   callback_index_*

{% endif %}

{% for collection_name, plugins in per_collection_plugins.items() | sort %}
@{ collection_name }@
@{ '-' * (collection_name | column_width) }@

{%   for plugin_name, plugin_desc in plugins.items() | sort %}
* :ansplugin:`@{ collection_name }@.@{ plugin_name }@#@{ plugin_type }@` -- @{ plugin_desc | rst_ify(plugin_fqcn=collection_name ~ '.' ~ plugin_name, plugin_type=plugin_type) }@
{%   endfor %}

{% else %}
No {% if plugin_type == 'module' %}module{% elif plugin_type == 'role' %}role{% else %}@{ plugin_type }@ plugin{% endif %} found.
{% endfor %}
