{#
  Copyright (c) Ansible Project
  GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
  SPDX-License-Identifier: GPL-3.0-or-later
#}

:orphan:

{% if antsibull_docs_version %}
.. meta::
  :antsibull-docs: @{ antsibull_docs_version }@

{% endif %}
.. _list_of_collection_env_vars:

Index of all Collection Environment Variables
=============================================

The following index documents all environment variables declared by plugins in collections.
Environment variables used by the ansible-core configuration are documented in :ref:`ansible_configuration_settings`.
{# TODO: use label `ansible_configuration_env_vars` once the ansible-core PR is merged #}

{% for _, env_var in env_variables | dictsort %}
.. envvar:: @{ env_var.name }@

{%   for paragraph in env_var.description or [] %}
    @{ paragraph | replace('\n', '\n    ') | rst_ify(plugin_fqcn='', plugin_type='') | rst_indent(4) }@

{%   endfor %}
    *Used by:*
{% set plugins_ = [] %}
{%   for plugin_type, plugins in env_var.plugins.items() %}
{%     for plugin_name in plugins %}
{%       set _ = plugins_.append((plugin_name, plugin_type)) %}
{%     endfor %}
{%   endfor %}
{%   for plugin_name, plugin_type in plugins_ | unique | sort %}
    :ansplugin:`@{ plugin_name | rst_escape }@ {% if plugin_type == 'module' %}module{% else %}@{ plugin_type }@ plugin{% endif %} <@{ plugin_name }@#@{ plugin_type }@>`
{%-    if not loop.last -%}
,
{%     endif -%}
{%-  endfor %}

{% else %}
No environment variables have been defined.
{% endfor %}
