{#
  Copyright (c) Ansible Project
  GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% from 'macros/collection_links.rst.j2' import add as add_collection_links with context -%}
{% from 'macros/deprecates.rst.j2' import collection_deprecation_note with context -%}
{% from 'macros/deprecates.rst.j2' import deprecation_marker with context -%}

{% if not breadcrumbs %}
:orphan:
{% endif %}

{% if antsibull_docs_version %}
.. meta::
  :antsibull-docs: @{ antsibull_docs_version }@

{% endif %}
{% macro list_plugins(plugin_type) %}
{%   for name, info in plugin_maps[plugin_type].items() | sort %}
* :ansplugin:`@{ name }@ @{ plugin_type }@ <@{ collection_name }@.@{ name }@#@{ plugin_type }@>` -- @{ info.short_description | rst_ify(plugin_fqcn=collection_name ~ '.' ~ name, plugin_type=plugin_type) | rst_indent(width=2) }@ @{ deprecation_marker(info) }@
{%   endfor %}
{%   if breadcrumbs %}

.. toctree::
    :maxdepth: 1
    :hidden:

{%     for name in plugin_maps[plugin_type] | sort %}
    @{ name }@_@{ plugin_type }@
{%     endfor %}
{%   endif %}
{% endmacro %}

.. _plugins_in_@{collection_name}@:

@{collection_name.title()}@
@{ '=' * (collection_name | column_width) }@

{% if collection_version %}
Collection version @{ collection_version }@
{% endif %}
@{ collection_deprecation_note() }@
.. contents::
   :local:
   :depth: 1

{% if collection_description or collection_authors or collection_links or requires_ansible %}
Description
-----------

{%   if collection_description %}
@{ link_data.description | rst_ify }@
{%   endif %}

{%   if collection_authors %}
**Author@{ 's' if (collection_authors | length) > 1 else '' }@:**

{%     for author in collection_authors %}
* @{ author | rst_indent(2) }@
{%     endfor %}
{%   endif %}

{%   if requires_ansible %}
**Supported ansible-core versions:**

{%     for part in requires_ansible %}
* @{     part | rst_escape }@
{%     endfor %}
{%   endif %}

{%   if collection_links %}
@{     add_collection_links(collection_links) -}@
{%   endif %}

{% endif %}

{% if not collection_communication.empty %}
.. Communication

.. _communication_for_@{collection_name}@:

Communication
-------------

{%   for forum in collection_communication.forums %}
- Forum: `@{ forum.topic | rst_escape }@ <@{ forum.url | rst_escape }@>`__.
{%   endfor %}
{%   for matrix_room in collection_communication.matrix_rooms %}
- Matrix room :literal:`@{ matrix_room.room | rst_escape(escape_ending_whitespace=true) }@`: `@{ matrix_room.topic | rst_escape }@ <https://matrix.to/#/@{ matrix_room.room | rst_escape }@>`__.
{%   endfor %}
{%   for irc_channel in collection_communication.irc_channels %}
- IRC channel :literal:`@{ irc_channel.channel | rst_escape(escape_ending_whitespace=true) }@` (@{ irc_channel.network | rst_escape }@ network):
{%     if irc_channel.network == 'Libera' %}
  `@{ irc_channel.topic }@ <https://web.libera.chat/?channel=@{ irc_channel.channel | rst_escape }@>`__.
{%     else %}
  @{ irc_channel.topic | rst_escape }@.
{%     endif %}
{%   endfor %}
{%   for mailing_list in collection_communication.mailing_lists %}
- Mailing list: `@{ mailing_list.topic | rst_escape }@ <@{ mailing_list.url | rst_escape }@>`__.
{%     if mailing_list.subscribe %}
  (`Subscribe <mailto:@{ mailing_list.subscribe | rst_escape }@>`__)
{%     endif %}
{%   endfor %}
{% endif %}

.. toctree::
    :maxdepth: 1

{% if has_changelog %}
Changelog
---------

.. toctree::
    :maxdepth: 1

    changelog

{% endif %}
{% for section in extra_docs_sections %}
@{section.title}@
@{ '-' * (section.title | column_width) }@

{%   if section.toctree %}
.. toctree::
    :maxdepth: 1

{%     for toctree_entry in section.toctree %}
{%       if toctree_entry.title %}
    @{ toctree_entry.title | rst_escape }@ <@{ toctree_entry.ref }@>
{%       else %}
    @{ toctree_entry.ref }@
{%       endif %}
{%     endfor %}
{%   endif %}

{% endfor %}
Plugin Index
------------

{% if plugin_maps | reject('eq', 'role') | list %}
These are the plugins in the @{collection_name}@ collection:
{% else %}
There are no plugins in the @{collection_name}@ collection with automatically generated documentation.
{% endif %}

{% for category in plugin_maps | reject('eq', 'role') | sort | move_first('module') %}

{%   if category == 'module' %}
Modules
~~~~~~~
{%   else %}
@{ category | capitalize }@ Plugins
@{ '~' * ((category | column_width) + 8) }@
{%   endif %}

@{   list_plugins(category) }@
{% endfor %}

{% if 'role' in plugin_maps %}
Role Index
----------

These are the roles in the @{collection_name}@ collection:

@{   list_plugins('role') }@
{% endif %}
{% if not squash_hierarchy %}

.. seealso::

    List of :ref:`collections <list_of_collections>` with docs hosted here.
{% endif %}
