{#
  Copyright (c) Ansible Project
  GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% macro version_added_rst(version_added, version_added_collection) -%}
@{ version_added | rst_escape }@
{%-   if version_added_collection == 'ansible.builtin' %}
 of ansible-core
{%-   elif version_added_collection %}
 of @{ version_added_collection | rst_escape }@
{%-   endif -%}
{%- endmacro %}

{% macro version_added_html(version_added, version_added_collection) -%}
@{ version_added | escape }@
{%-   if version_added_collection == 'ansible.builtin' %}
 of ansible-core
{%-   elif version_added_collection %}
 of @{ version_added_collection | escape }@
{%-   endif -%}
{%- endmacro %}
