{#
  Copyright (c) Ansible Project
  GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% macro in_rst(choices, default_value=None, has_no_default=False, role_entrypoint=None) %}
{%   if choices is mapping %}
{%     for choice, desc in choices | dictsort %}
{%       if not has_no_default and ((default_value is not list and default_value == choice) or (default_value is list and choice in default_value)) %}
      - :ansible-option-choices-entry-default:`@{ choice | antsibull_to_json | rst_escape(escape_ending_whitespace=true) }@` :ansible-option-choices-default-mark:`(default)`\ :
{%       else %}
      - :ansible-option-choices-entry:`@{ choice | antsibull_to_json | rst_escape(escape_ending_whitespace=true) }@`\ :
{%       endif %}
{%       for par in desc %}
        @{ par | rst_ify(role_entrypoint=role_entrypoint) | rst_indent(8) }@

{%       endfor %}
{%     endfor %}
{%   else %}
{%     for choice in choices %}
{%       if not has_no_default and ((default_value is not list and default_value == choice) or (default_value is list and choice in default_value)) %}
      - :ansible-option-choices-entry-default:`@{ choice | antsibull_to_json | rst_escape(escape_ending_whitespace=true) }@` :ansible-option-choices-default-mark:`← (default)`
{%       else %}
      - :ansible-option-choices-entry:`@{ choice | antsibull_to_json | rst_escape(escape_ending_whitespace=true) }@`
{%       endif %}
{%     endfor %}
{%   endif %}
{% endmacro %}


{% macro in_html(choices, default_value=None, has_no_default=False, role_entrypoint=None) %}
      <ul class="simple">
{%   if choices is mapping %}
{%     for choice, desc in choices | dictsort %}
        <li>
{%       if not has_no_default and ((default_value is not list and default_value == choice) or (default_value is list and choice in default_value)) %}
          <p><code class="ansible-value literal notranslate ansible-option-default-bold"><strong>@{ choice | antsibull_to_json | escape }@</strong></code> <span class="ansible-option-choices-default-mark">(default)</span>:
{%       else %}
          <p><code class="ansible-value literal notranslate ansible-option-choices-entry">@{ choice | antsibull_to_json | escape }@</code>:
{%       endif %}
          @{ desc | first | default('') | html_ify(role_entrypoint=role_entrypoint) | rst_indent(10, blank=true) }@</p>
{%       for line in desc[1:] %}
          <p>@{ line | html_ify(role_entrypoint=role_entrypoint) | rst_indent(10, blank=true) }@</p>
{%       endfor %}
        </li>
{%     endfor %}
{%   else %}
{%     for choice in choices %}
{%       if not has_no_default and ((default_value is not list and default_value == choice) or (default_value is list and choice in default_value)) %}
        <li><p><code class="ansible-value literal notranslate ansible-option-default-bold"><strong>@{ choice | antsibull_to_json | escape }@</strong></code> <span class="ansible-option-choices-default-mark">← (default)</span></p></li>
{%       else %}
        <li><p><code class="ansible-value literal notranslate ansible-option-choices-entry">@{ choice | antsibull_to_json | escape }@</code></p></li>
{%       endif %}
{%     endfor %}
{%   endif %}
      </ul>
{% endmacro %}
