{#
  Copyright (c) Ansible Project
  GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% macro add(collection_links, collection_communication=None, collection=None) %}
.. raw:: html

  <p class="ansible-links">
{%   for link in collection_links %}
    <a href="@{ link.url | escape }@" aria-role="button" target="_blank" rel="noopener external">@{ link.description | escape }@</a>
{%   endfor %}
{%   if collection_communication and collection and not collection_communication.empty %}
{#     WARNING: the anchor is created from Sphinx from the label and might change #}
    <a href="./#communication-for-@{ collection | replace('.', '-') | escape }@" aria-role="button" target="_blank">Communication</a>
{%   endif %}
  </p>
{% endmacro %}
