---
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or
# https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2023 Maxwell G <maxwell@gtmx.me

name: nox
'on':
  push:
    branches:
      - main
      - stable-*
  pull_request:
    branches:
      - main
      - stable-*
  # Run once per week (Monday at 04:00 UTC)
  schedule:
    - cron: '0 4 * * 1'
  workflow_dispatch:

env:
  FORCE_COLOR: "1"

jobs:
  nox-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: antsibull-docs
    steps:
      - name: Check out antsibull-docs
        uses: actions/checkout@v4
        with:
          path: antsibull-docs
      - name: Check out dependent project antsibull-core
        uses: actions/checkout@v4
        with:
          repository: ansible-community/antsibull-core
          path: antsibull-core
      - name: Check out dependent project antsibull-docs-parser
        uses: actions/checkout@v4
        with:
          repository: ansible-community/antsibull-docs-parser
          path: antsibull-docs-parser
      - name: Setup nox
        uses: wntrblm/nox@2024.03.02
        with:
          python-versions: "3.12"
      - run: |
          nox -e lint
  nox-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: antsibull-docs
    steps:
      - name: Check out antsibull-docs
        uses: actions/checkout@v4
        with:
          path: antsibull-docs
      - name: Check out dependent project antsibull-core
        uses: actions/checkout@v4
        with:
          repository: ansible-community/antsibull-core
          path: antsibull-core
      - name: Check out dependent project antsibull-docs-parser
        uses: actions/checkout@v4
        with:
          repository: ansible-community/antsibull-docs-parser
          path: antsibull-docs-parser
      - name: Setup nox
        uses: wntrblm/nox@2024.03.02
        with:
          python-versions: "3.9, 3.10, 3.11, 3.12"
      - name: Run unit tests
        run: |
          nox -v -e test
      - name: Report coverage
        run: |
          nox -v -e coverage
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          directory: antsibull-docs
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
